<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/normalize.css" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet">
    </head>
    <body>
        <header class="main-header">
            <div class="main-header-top">
                <div class="mht-left">
                    <a href="/"><img src="/images/logo-mercado-liebre.svg" class="logoML" width="200" alt="Logo de MercadoLiebre"></a>
                    <input type="search" class="search-bar" placeholder="Buscar productos, marcas y más"><i class="fas fa-search"></i>
                </div>
                <p class="compraEnCuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
                
            </div>
            <nav class="main-header-bot">
                <ul class="nav-l">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="nav-r">
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </nav>
        </header>
        <section>
            <img src="/images/img-home-banner.jpg" class="banner" alt="Banner de ofertas">
        </section>
        <main>
            <section>
                <h3 class="TituloSeccion">Basado en tu última visita</h3>
                <section class="articulos">
                    <article class="productos">
                        <img src="/images/img-cafetera-moulinex.jpg" width="300" alt="Cafetera" class="product_img"><br>
                        <div class="desc-productos">
                            <i class="fas fa-truck envio"></i>
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% off</p>
                            <p class="descripcion">Cafetera Moulinex</p>
                        </div>
                    </article>

                    <article class="productos">
                        <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img"><br>
                        <div class="desc-productos">
                            <i class="fas fa-truck envio"></i>
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% off</p>
                            <p class="descripcion">MacBook Pro 2019</p>
                        </div>
                    </article>

                    <article class="productos">
                        <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy" class="product_img"><br>
                        <div class="desc-productos">
                            <i class="fas fa-truck envio"></i>
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% off</p>
                            <p class="descripcion">Teléfono móvil Samsung Galaxy S10</p>
                        </div>
                    </article>
                
                    <article class="productos">
                        <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung" class="product_img"><br>
                        <div class="desc-productos">
                            <i class="fas fa-truck envio"></i>
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% off</p>
                            <p class="descripcion">SmartTv Samsung 43"</p>
                        </div>        
                    </article>
                 </section>
            </section>

            <section>
                <h3 class="TituloSeccion">Ofertas</h3>
                <section class="articulos">
                    <article class="productos">      
                        <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img"><br>
                        <div class="desc-productos">
                            <i class="fas fa-truck envio"></i>
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% off</p>
                            <p class="descripcion">Cafetera Moulinex</p>
                        </div>
                    </article>

                    <article class="productos">
                        <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img"><br>
                        <div class="desc-productos">
                            <i class="fas fa-truck envio"></i>
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% off</p>
                            <p class="descripcion">MacBook Pro 2019</p>
                        </div>
                    </article>

                    <article class="productos">
                        <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy" class="product_img"><br>
                        <div class="desc-productos">
                            <i class="fas fa-truck envio"></i>
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% off</p>
                            <p class="descripcion">Teléfono móvil Samsung Galaxy S10</p>
                        </div>
                    </article>  
                    
                    <article class="productos">
                        <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung" class="product_img"><br>
                        <div class="desc-productos">
                            <i class="fas fa-truck envio"></i>
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% off</p>
                            <p class="descripcion">SmartTv Samsung 43"</p>
                        </div>
                    </article>
                </section>
            </section>
        </main>
        <footer>
            <div class="footerflex">
                <div class="footersecciones">
                    <i class="fas fa-credit-card footerIcons"></i>
                    <h4>Pagá con tarjeta o en efectivo</h4>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
                </div>
                <div class="footersecciones">
                    <i class="fas fa-gift footerIcons"></i>
                    <h4>Envío gratis desde $ 2.500</h4>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </div>
                <div class="footersecciones">
                    <i class="fas fa-user-shield footerIcons"></i>
                    <h4>Seguridad, de principio a fin</h4>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                </div>
            </div>
            <br>
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </footer>
    </body>
</html>