<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Registro de Usuario</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/normalize.css" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet">
    </head>
    <body>
        <header class="main-header">
            <div class="main-header-top">
                <div class="mht-left">
                    <a href="/"><img src="/images/logo-mercado-liebre.svg" class="logoML" width="200" alt="Logo de MercadoLiebre"></a>
                    <input type="search" class="search-bar" placeholder="Buscar productos, marcas y más"><i class="fas fa-search"></i>
                </div>
                <p class="compraEnCuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
                
            </div>
            <nav class="main-header-bot">
                <ul class="nav-l">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="nav-r">
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </nav>
        </header>
        <main>
            <form action="#" method="post" class="formulario-registro">
                <div class="divCasillaFormulario valido error">
                    <input type="text" class="CasillaFormulario" name="nombre_apellido" placeholder="Nombre y apellido" minlength="4" required>
                    <i class="fas fa-asterisk"></i>
                    <p>Nombre invalido</p>
                </div>
                <div class="divCasillaFormulario valido error">
                    <input type="text" class="CasillaFormulario" name="Usuario" placeholder="Nombre de usuario" minlength="4" required>
                    <i class="fas fa-asterisk"></i>
                    <p>Usuario invalido</p>
                </div>
                <div class="divCasillaFormulario valido error">
                    <input type="email" class="CasillaFormulario" name="email" placeholder="E-mail" required>
                    <i class="fas fa-asterisk"></i>
                    <p>Correo invalido</p>
                </div>
                <div class="TagFormulario">
                    <label for="fecha_nacimiento">Fecha de nacimiento</label>
                </div>
                <div class="divCasillaFormulario valido error">
                    <input type="date" class="CasillaFormulario" name="fecha_nacimiento" id="fecha_nacimiento" required>
                </div>
                <div class="divCasillaFormulario">
                    <input type="text" class="CasillaFormulario" name="domicilio" placeholder="Domicilio">
                </div>
                <div class="TagFormulario">
                    <label for="perfil_usuario">Perfil de usuario</label>
                </div>
                <div class="perfilDeUsuario">
                    <div>
                        <input type="radio" id="tipo_comprador" name="tipo_usuario" value="comprador"><label for="tipo_comprador" class="Label">Comprador</label>
                    </div>
                    <div>
                        <input type="radio" id="tipo_vendedor" name="tipo_usuario" value="vendedor"><label for="tipo_vendedor" class="Label">Vendedor</label>
                    </div>
                </div>
                <div>
                    <div class="TagFormulario">
                        <label for="perfil_usuario">Intereses</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" id="electro" name="tipo_usuario" value="intereses"><label for="electro" class="Label">Electro</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" id="moda" name="tipo_usuario" value="intereses"><label for="moda" class="Label">Moda</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" id="hogar" name="tipo_usuario" value="intereses"><label for="hogar" class="Label">Hogar</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" id="jugeteria" name="tipo_usuario" value="intereses"><label for="jugeteria" class="Label">Juguetería</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" id="vida_sana" name="tipo_usuario" value="intereses"><label for="vida_sana" class="Label">Vida sana</label>
                    </div>
                    <div class="divCasillaFormulario">
                        <input type="password" class="CasillaFormulario castillaContraseñaValid" placeholder="Contraseña" id="password" minlength="4" required>
                        <i class="fas fa-asterisk"></i>
                        <p>Contraseña invalida</p>
                    </div>
                    <div class="divCasillaFormulario">
                        <input type="password" class="CasillaFormulario castillaContraseñaValid" placeholder="Repetir contraseña" id="password" minlength="4" required>
                        <i class="fas fa-asterisk"></i>
                        <p>Contraseña invalida</p>
                    </div>
                    <div class="BotonesRegistro">
                        <input type="reset" value="Borrar">
                        <a href="/">Enviar</a>
                    </div>
                    <div>

                    </div>
                </div>
            </form>
        </main>
        <footer>
            <div class="footerflex">
                <div class="footersecciones">
                    <i class="fas fa-credit-card footerIcons"></i>
                    <h4>Pagá con tarjeta o en efectivo</h4>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
                </div>
                <div class="footersecciones">
                    <i class="fas fa-gift footerIcons"></i>
                    <h4>Envío gratis desde $ 2.500</h4>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </div>
                <div class="footersecciones">
                    <i class="fas fa-user-shield footerIcons"></i>
                    <h4>Seguridad, de principio a fin</h4>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                </div>
            </div>
            <br>
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </footer>
    </body>
</html>